body{
    background: rgb(238,174,202);
    background: -moz-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(192,148,233,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(192,148,233,1) 100%);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(192,148,233,1) 100%);
    font-family: sans-serif;
    color: white;
}

main{
    width: 730px;
    margin: 40px auto 40px;
    display: flex;
    align-items: center;
}

.section1{
    background-color: rgba(255,255,255,0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}

h1{
    text-align: center;
}

button{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
    border-radius: 8px;
    border-color: transparent;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
}

.section2{
    background-color: rgba(255,255,255,0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 250px;
    height: 430px;
    padding: 0 20px;
}

.statistics{
    border: 1px solid white;
    height: 100px;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
}

#restart{
    border: 1px solid white;
    height: 30px;
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
}

a{
    color: white;
    text-decoration: none;
}

footer{
    text-align: center;
}

#linktree{
    font-weight: bold;
}